*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  background-color: black;
}
body {
  overflow-x: hidden;
}
.head_wrap {
  height: 125vh;
  position: relative;
  overflow: hidden;
}
.img_ipad {
  margin: 2rem 0 0 0;
  position: absolute;
  width: auto;
  height: 29rem;
  transform: translateY(5rem);
  transform: scale(var(--p, 1))
    translate(calc(2rem * var(--v, 0)), calc(-2rem * var(--v, 0)));
  z-index: -1;
}
.content_ipad {
  background-color: transparent;
  color: white;
  font-size: calc(3rem * var(--img-size, 1.947));
  font-weight: 900;
  text-shadow: 0 1px 2px red;
}
.wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: center;
  height: 29rem;
  align-items: center;
  flex-direction: column;
}
.content_of_iron_man{
  color: white!important;;
  padding:1rem 2rem;
  
}
.content_para{
  color:white;
  background-color: transparent;
  font-size: 3rem;
  font-weight: 500;
  background-image:linear-gradient(145deg,red,yellow);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
