*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  background-color: black;
}
.head_wrap {
  height: 200vh;
  position: relative;
}
.img_ipad {
  position: absolute;
  width: auto;
  height: calc(29rem * var(--p,1));
  z-index: -1;
}
.content_ipad {
  background-color: transparent;
  color: wheat;
  color: #2bc0f9;
  font-size: 4rem;
}
.wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: center;
  height: 29rem;
  align-items: center;
}
